target/META-INF/mule-src/moodle-lms-uc/src/main/mule/moodle-lms-uc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:moodle="http://www.mulesoft.org/schema/connectivity/moodle"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/connectivity/moodle http://www.mulesoft.org/schema/connectivity/moodle/current/mule-moodle.xsd">
 <flow name="post:\core_course_create_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e427c011-deff-40f0-8ca3-db7b861193bb" path="/core_course_create_categories" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="911afab0-c485-4500-b068-6c4110200102" name="accesstoken_Flow" />
		<moodle:course-category-create-categories doc:name="Course Category - Create Categories" doc:id="c55f5c37-14ce-4e3e-acac-52752c0a1437" config-ref="Moodle_config1" correlationId="#[correlationId]">
			<moodle:course_category_create_categories--body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
    wstoken: if(!isEmpty(payload.wstoken)) payload.wstoken else vars.moodleToken.token,                      
    (wsfunction: payload.wsfunction) if(!isEmpty(payload.wsfunction)),
    (moodlewsrestformat: payload.moodlewsrestformat) if(!isEmpty(payload.moodlewsrestformat)),
    "categories[0][id]": payload.'categories[0][id]',                  
    ("categories[0][newparent]": payload.categories[0].newparent)  if (!isEmpty(payload.categories[0].newparent)),  
    ("categories[0][recursive]": payload.categories[0].recursive)  if (!isEmpty(payload.categories[0].recursive))
                                                 
}]]]></moodle:course_category_create_categories--body>
		</moodle:course-category-create-categories>
    
</flow>
    <flow name="post:\core_course_create_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0b23cccc-6c77-41eb-9fc3-06437d10f957" path="/core_course_create_courses" allowedMethods="GET,POST" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="ff591f57-63a7-4dcc-961b-57d96776f1ad" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_delete_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="5c7e0c65-700d-4c81-894a-87614e2701e5" path="/core_course_delete_categories" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="7c43c471-5685-4ce5-8ffc-c992a050c5e9" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_delete_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e18d11ff-84ea-446e-8dcf-e89a8241a55c" path="/core_course_delete_courses" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="cf8efbd9-0f98-4d8d-aece-34e558cfb6d0" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_get_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8b46c6f0-52f1-42b4-8dde-250f89cac788" path="/core_course_get_categories" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="116839a5-b1cf-4ab0-b716-5a1acad540a3" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_get_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a1f38c5e-743c-4f7c-80a9-f37d8aa23261" path="/core_course_get_courses" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="f2c696e6-6975-46d7-9858-24519f8f796a" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_get_courses_by_field:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="60ecbf6c-8ac6-4f43-9200-ca96b1042fd5" path="/core_course_get_courses_by_field" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="6aca527f-cf84-48c1-a223-b66393218fec" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_update_categories:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="822fa413-e8e4-4ab2-af0c-42316e7b6385" path="/core_course_update_categories" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="c720d970-6933-4c4c-8139-ca490e58ac38" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_course_update_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="43f18231-5899-4bd2-872c-7c7970334e88" path="/core_course_update_courses" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="ccad70cc-5999-416b-918a-9c31f473b77b" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_enrol_get_enrolled_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c76c5c55-c872-47c7-b1a0-70ee7c9cbe30" path="/core_enrol_get_enrolled_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="5f8a22c1-6f4f-45f1-a795-4d1f00a16a9a" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_enrol_get_users_courses:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="dd3382e7-d5db-4503-8291-047c0f8d4215" path="/core_enrol_get_users_courses" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="447383f6-5421-4ffb-99b8-c27426e504f7" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_enrol_unenrol_user_enrolment:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="779056f2-abff-4d82-a87c-66788563e6b1" path="/core_enrol_unenrol_user_enrolment" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="62612bbb-7055-4064-9f0c-9bcb6f4ec045" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_role_assign_roles:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="da208c82-a02c-4b30-aed6-69271adab6b7" path="/core_role_assign_roles" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="e987402e-1d02-4cdd-85b3-05daf09bb7c5" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_role_unassign_roles:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8ff1cf50-4f4c-41db-8fea-1666667f6684" path="/core_role_unassign_roles" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="79ba80a0-f03e-44f9-82fe-66155bd57070" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_user_create_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9f5e602d-4473-4632-9fd8-cf78b404c448" path="/core_user_create_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="0acfddec-fee4-4ff1-8ab2-3e1d0c4f3b0f" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_user_delete_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bc1269e7-9009-4242-9ab6-f85ec8f41384" path="/core_user_delete_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="ba2a181c-fae2-4856-965a-1831e63880c6" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_user_get_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2c546c4b-5214-41aa-9a3e-6eefd5f6921f" path="/core_user_get_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="6ef0dc4f-ce1d-4419-a218-b8c6485391a0" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_user_get_users_by_field:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="bdafa545-1c1c-4650-b09c-9162cbdd1a00" path="/core_user_get_users_by_field" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="0d3e48ee-0325-4d64-b6cf-07a8925ef263" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_user_update_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="61ba9444-7f8c-479e-800e-33e710f4633d" path="/core_user_update_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="7add7514-34bd-4a8f-b8f2-f61a74109495" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\enrol_manual_enrol_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="80cb160d-cd01-49da-9496-be29115d91c5" path="/enrol_manual_enrol_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="070c1547-2d03-4df5-8e0f-ae3be6657226" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\enrol_manual_unenrol_users:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="388cf13f-69b3-434c-bc2f-51e97c67e863" path="/enrol_manual_unenrol_users" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="71e6e40c-d7a1-43ed-a00b-1fea3d481a46" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\gradereport_overview_get_course_grades:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8487c658-082c-48a9-8ac7-100d236999a0" path="/gradereport_overview_get_course_grades" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="85a49721-a777-44a9-81ad-3ed5bad48e56" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\mod_assign_get_assignments:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="7c89cf55-9f03-478e-8f32-aa010b319c68" path="/mod_assign_get_assignments" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="70f970e4-02c0-41fc-a0a7-21bb011a653c" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\mod_assign_get_grades:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0e73fdea-5d37-4e08-886b-3ed6da4ec857" path="/mod_assign_get_grades" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="d9e16b28-1f74-48cf-94bf-09b33f7a5b54" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\mod_assign_get_submission_status:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="132f8c0f-8b8d-45b9-b5a4-943f1c4cf38a" path="/mod_assign_get_submission_status" config-ref="HTTP_Listener_config">
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Flow Reference" doc:id="cc017757-8d50-4afe-a95d-dbf597df33df" name="accesstoken_Flow" />
    </flow>
    <flow name="post:\core_calendar_create_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="25264860-e959-4665-b5ff-c3add2616b96" path="/core_calendar_create_calendar_events" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="45427ad6-9103-4f19-8c8a-cc4834d61864" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_calendar_delete_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="110fc0ff-b846-4010-87ed-4b0ca5876c69" path="/core_calendar_delete_calendar_events" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="0ffc8be2-eff2-4568-a654-9e1a947988c6" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_calendar_get_action_events_by_timesort:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c2f90f00-a1da-4a54-b48e-599ead120db8" path="/core_calendar_get_action_events_by_timesort" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f699576a-8f49-4fde-b431-0131a36820f5" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_calendar_get_calendar_event_by_id:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a909ea99-160a-4de5-9d60-f2dafa2f2689" path="/core_calendar_get_calendar_event_by_id" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="d49d7db6-cabe-4ad5-b9c2-5c28f7319e83" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_calendar_get_calendar_events:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="5e7820a0-b945-4dba-af47-a76c20f70e6c" path="/core_calendar_get_calendar_events" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="55c33c4d-1206-435e-8087-207a521aee9a" name="accesstoken_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="252df018-eca5-40db-9b84-1d67499f0461" />
    </flow>
    <flow name="post:\core_cohort_add_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="844e34df-3211-44a5-a5a1-fd83641fbef1" path="/core_cohort_add_cohort_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="98baa5db-fbff-4e22-8d06-ebc83e423b71" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_create_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="2045d773-b6ec-4a82-96f6-ffd5fd06cf8e" path="/core_cohort_create_cohorts" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f3d08859-7d2f-4d6c-a723-a653befefd69" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_delete_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8f8fcb41-50e8-447c-9587-dc5736a3611f" path="/core_cohort_delete_cohort_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="da39b292-95c0-493a-b915-fd7f5f78c6e9" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_delete_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="0bb43ad6-ac86-447c-a41d-47002cd4d171" path="/core_cohort_delete_cohorts" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="ea3d41ed-ef72-4f64-adfc-7662773455f8" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_get_cohort_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="af6f3449-3830-42fc-b048-cca09333d620" path="/core_cohort_get_cohort_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f35119dc-d5de-4cb8-aeb6-8965d9bab599" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_get_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="71c04de5-b61e-4fc7-b4ff-3e0efc71b987" path="/core_cohort_get_cohorts" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="fbfe3c4d-ced9-4ed0-b2c0-2046c6adefbd" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_cohort_update_cohorts:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="59718af9-9adc-4aa5-a423-c3b49b2ae1fb" path="/core_cohort_update_cohorts" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="ebc348a6-5011-4003-bb37-250f3352d6a5" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_add_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="254ec6c9-e008-495a-a291-904df51b221c" path="/core_group_add_group_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="5b524e72-261c-40a6-88fc-00865bcf70ac" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_assign_grouping:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="ae43d627-a530-46d7-bc17-f4193cab3a38" path="/core_group_assign_grouping" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="51f0ee4b-fd22-4325-984f-1ede7acf28f2" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_create_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="a5951c26-b1a1-4da8-aa9c-7ecd334df70a" path="/core_group_create_groupings" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="4f1c8aaf-9520-40c0-a72e-30a5c32e8624" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_create_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8fcc2f84-3d8e-4eb9-9916-2855f9dea556" path="/core_group_create_groups" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="8f237d4a-bd9e-45e0-9cbd-609d94de029b" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_delete_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e11f2f12-4091-4a6d-abcd-fee76c991ade" path="/core_group_delete_group_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f5e42477-197a-4d34-a748-24eb21e38487" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_delete_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="28f9a02b-cd9a-4cb1-a29d-b048b90e092b" path="/core_group_delete_groupings" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="dbe63b09-9e5f-4d73-b0bf-bc8977a952b9" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_delete_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="8defb0eb-2c97-46ab-afb5-2be632b5fb58" path="/core_group_delete_groups" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="267bd146-5ab2-478e-ba6e-28df71b08763" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_get_course_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="55cc1e1a-c62e-4ad5-b4d0-547313d09b12" path="/core_group_get_course_groupings" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="1d3cffc7-4bb3-4efc-973f-bdbf18d642e9" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_get_course_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="47e33581-59a0-4937-8c62-ebc4dac7e7ea" path="/core_group_get_course_groups" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="0a915617-80c5-423c-9c1a-abd1eff50159" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_get_group_members:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="9d2dbcd0-e145-4f6b-94b4-1e969f0de3ad" path="/core_group_get_group_members" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="d217584c-7a6f-45af-a78c-ba32c3dfb987" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_get_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4d4dc67d-9499-4ee2-bbb7-a81b56ff122e" path="/core_group_get_groups" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="7c2b7b2a-6c72-46f9-9409-ccd27028fe96" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_unassign_grouping:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="c5189c9b-c5eb-4d56-88d1-7921c5026b1a" path="/core_group_unassign_grouping" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="a2a138c4-b59f-4ddd-b297-c28194fc31d9" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_update_groupings:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="3ebf67a5-2845-43d1-8137-2ed8fcb446ab" path="/core_group_update_groupings" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="e27f8097-af22-4975-9254-4d32f9c109b7" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\core_group_update_groups:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="e8fc07a1-77af-4b0f-ad3f-1e7f8f5d54f0" path="/core_group_update_groups" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="f45a28a5-fea5-4412-868a-4b7bfaa890c3" name="accesstoken_Flow"/>
    </flow>
    <flow name="post:\gradereport_user_get_grade_items:application\x-www-form-urlencoded:moodle-rest-api-config">
        <http:listener doc:name="Listener" doc:id="4bf953c0-940c-4ff7-9bdb-abfdf568479c" path="/gradereport_user_get_grade_items" config-ref="HTTP_Listener_config">
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body ><![CDATA[#[output application/json --- payload default error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="6ba9edfb-de0c-4765-af96-b65313c42e6d" name="accesstoken_Flow"/>
    </flow>	
	
	</mule>
